CACHE_HOST=redis
CACHE_PORT=6379

JWT_SECRET_KEY=secret
JWT_ENCODE_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
REFRESH_TOKEN_EXPIRE_DAYS=7

DB_USER=postgres
DB_HOST=db
DB_NAME=postgres
DB_PORT=5432
DB_PASSWORD=password
DB_DRIVER=postgresql+asyncpg